*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  

}

.body_container{
  text-align: center;
}


.content_container{
  text-align: center;
  border:2px solid white; 
  width:40%;
  color:white;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius:30px;
  background-color:#F5F5DC;
  box-shadow:10px 10px #f1f1e1;
}
hr{
  width:6%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:6% ;
  
}
.hr{
  width:100%;
  margin-bottom: 50px;
}

.title{
  margin-top:5%;
  margin-bottom:1.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:200;
  color:rgb(22, 118, 118);
  background-color:#F5F5DC;
}
form > div{
  margin-left:30px;
  margin-bottom: 30px;
}
form>div>input{
  width:70%;
  
}

form > input{
  
  background-color: #a8b59b ;
  /* border-radius:10px; */
  padding-top:2.5%;
  padding-bottom: 2.5%;
  width:60%;
  padding-left:2.5%;
  font-size: 100%;
  border:1px solid #395174;
}

.submit{
  margin-bottom: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 150%;
  font-weight: 500;
  color:white;
  
}

.submit:hover{
  background-color:rgb(151, 171, 165) ;
  box-shadow:5px px rgb(151, 171, 165);
}

form{
  background-color:#F5F5DC;
  border-radius:10px ;

}

.icon{
  border:1px solid black;
  width:10%;
  position:relative;
  left:75px;
  color:grey;
}

.user, .pass{
  display:flex;
  width:100%;
}

input[type="text"],[type="password"]{
  padding-left: 80px;
  font-size: 100%;
}

.survey_container{
  border:1px solid black;
  width:80%;
  margin-left:200px;
  margin-top: 100px;
 
}

.header{
  background-color: black;
  
}

.header>h1{
  height:100px;
  color:white;
  font-weight:400;
  font-style:italic;
  padding-top: 35px;
  padding-left: 40px;
  font-size:300%;
}

.box{
  border:1px solid black;
  width:80%;
  /* height:400px; */
  margin-top:80px;
  margin-left:150px;
  border-radius:10px;
  background-color:grey;
}
.box-title{
  padding-left:50px;
  padding-top:10px;
}

.radio,.checkbox{
  margin-left: 50px;
  margin-top:20px;
}

.flex{
  display:flex
}

.flex>h3{
  margin-top:12px;
  margin-left: 20px;
}

.drop{
  width:50%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left:50px;
  margin-top:50px;
  margin-bottom:50px;
  font-size:150%;
  padding-left: 20px;
}

.textArea{
  margin-left:50px;
  margin-top:20px;
  margin-bottom: 20px;
  font-size:150%;
}

.btn{
  padding:15px 60px 15px;
  border-radius:5px;
  margin-left: 1185px;
  margin-top:50px;
  color:white;
  font-weight:800;
  background-color: rgb(84, 82, 82);
  font-size:110%;
  margin-bottom:50px;
}

.survey_b{
  border:1px solid grey;
  width:100px;
  height:100px;
}