*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body_container{
  background-color: rgb(22, 118, 118);
 justify-content: center;
}


.content_container{
  text-align: center;
  border:1px solid white; 
  width:50%;
}
hr{
  width:5%;
  text-align: center;
}